<div class="card card-body bg-light">
  <a routerLink="/lugares">Lugares</a> / Contacto
</div>

<div class="container">
  <label for="Nombre">Nombre</label>
  <input type="text" class="form-control">
  <br>
  <label for="Correo">Correo</label>
  <input type="email" class="form-control">
  <br>
  <label for="Mensaje">Mensaje</label>
  <textarea class="form-control"></textarea>
  <hr>
  <a class="btn btn-primary" role="button">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
