<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/new">Crear nuevo negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li class="list-group-item">
            <a routerLink="/crear/{{lugar.id}}">
              <h3>{{lugar.nombre | titlecase}}</h3>
            </a>
            <br>
            <small>Creado {{lugar.id | date:'dd/MM/yyyy HH:mm:ss' | uppercase}}</small>
            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
