<h1>{{ title }}</h1>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr>

<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">
      {{lugar.nombre}}
    </li>
  </ng-container>
</ul>


<ul>
  <ng-container *ngFor="let lugar of lugares; even as esPar;" [ngSwitch]="lugar.cercania">
    <a>
      <li contar-clicks [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="esPar ? 'numero_par' : ''" [resaltar]="lugar.plan">
        {{lugar.nombre}} -
        <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
        <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
        <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul>
