<div class="card card-body bg-light">
  <a routerLink="/lugares">Lugares</a> / Crear Lugar
</div>

<div class="container">
  <label for="Nombre">Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre">
  <br>
  <label for="Distancia">Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
  <br>
  <label for="Cercania">Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
  <br>
  <label for="Mensaje">Descripcion</label>
  <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <br>
  <label for="Plan">Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan">

  <h3>Datos de direccion</h3>
  <label for="PlCalle y Numeroan">Calle y Numero</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.calle">
  <br>
  <label for="Ciudad">Ciudad</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
  <br>
  <label for="Pais">Pais</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.pais">
  <hr>
  <a class="btn btn-primary" role="button" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
