/* You can add global styles to this file, and also import other style files */

agm-map {
  height: 300px;
}

.numero_par {
  background-color: aliceblue;
  color: blue;
}

a.btn.btn-primary,
a.btn.btn-default {
  margin-bottom: 1em;
}

.e-form {
  padding-top: 1em;
}

.card.card-body.bg-light a {
  display: contents;
}
