<div class="container">
  <div class="e-form">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="registro.email">
        </div>
        <div class="form-group">
          <label for="Contraseña">Cotraseña</label>
          <input type="password" class="form-control" [(ngModel)]="registro.password">
        </div>
        <hr>
        <a (click)="registrar()" class="btn btn-primary btn-block">Registrarse</a>
        <a href="#" class="btn btn-default btn-block">Cancelar</a>
      </div>
    </div>
  </div>
</div>
